################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/StarMeApp/.vs/StarMeApp
/Backend/StarMeApp/bin/Debug/netcoreapp3.1
