<footer class="footer">
  <div class="footer-inner row">

    <div class="col-md-12">

      <!-- <p class="description">
      </p> -->
    </div>
    <div class="col-md-12">
      <a [routerLink]="['/']">Home</a>&nbsp;&nbsp;
      <a href="page.html">About</a>&nbsp;&nbsp;
      <a href="contact.html">Contact</a>&nbsp;&nbsp;
      <!-- <a href="404.html">404 page</a>&nbsp;&nbsp; -->

        </div>


  </div>
</footer>


<section class="copyright">&copy; {{currentYear}}  Agustín Vázquez Cendron</section>
